@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

.container h4,
h3,
i {
    color: white;
}
body {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
}

:where(.container, form, input-field) {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

form .input-field {
    flex-direction: row;
}

.title {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

.title i {
    margin: 7px;
}

.container {
    background-color: #070255;
    padding: 20px;
    margin: 20px;
    border-radius: 12px;
    row-gap: 20px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

form input {
    height: 45px;
    width: 42px;
    border-radius: 20%;
    row-gap: 10px;
}